<div id="content">
	<div class="post">
		<h2 class="title">About</h2>
		<div class="entry">
			<div id="box1">
				<h3 class="text1">60 Years of Experience</h3>
				<p class="text2">Dolor sit amet nullam blandi tempus nulla tempus consequat</p>
				<p>
					<a href="#"><%= image_tag 'homepage03.jpg', :width => 246, :height => 236, :class => 'alignleft' %></a>
				</p>
				
				<p>
					Herr Tool Sales has been in the business of selling quality tooling products and providing expert technical guidance in manufacturing and workholding for more than 50 years. With a strong history in manufacturing and workholding products, Herr Tool provides customers with expert advice and information about available products and product lines. We strive to provide our customers with:
				</p>
				
				<ul>
					<li>Expert guidance in tool selection</li>
					<li>Continued Sales and client service</li>
					<li>Support customers long term tooling needs</li>
					<li>Client consultation</li>
				</ul>
				 
				<p>
					Herr Tool has represented many top manufacturing brands, including Chick Workholding Solutions and SMW / Autoblock for over two decades. We have vast knowledge on a variety of installations including those like
				</p>
				
				<ul>
					<li>automatic indexing chucks,</li>
					<li>automatic pallet changers, and</li>
					<li>hydraulic fixtures and vises.</li>
				</ul>
				 
				<p>
					Having been in business for more than 50 years, Herr Tool is better fit than the competitor to provide the best guidance and advice for specific tooling solutions and requirements. We provide solutions for clients like The United States Mint, General Dynamics, and Caterpillar Tractor.  These are a few of the many premier companies that rely on Herr Tool Sales for manufacturing and workholding products and solutions.
				</p>
				
				<p>
					Herr Tool offers products in the following areas: workholding & indexing, machine tools, precision measuring tools, machine tool accessories, spindle tooling, cutting tools, coolants, tool storage, and In addition, we offer a chuck, cylinder and toolholder rebuilding service.
				</p>
				
				<p>
					Feel free to call us at (800) 307-3518 or <a href="<%= url_for '/contact' %>">contact us online</a> with any questions, or send us a message if you would like to request a quote.				
				</p>
			</div>
		</div>
	</div>
</div>
<div id="sidebar">
	<div id="box4">
		<h2>Personalized Service</h2>
		<div class="content">
			<p><a href="#"><%= image_tag 'homepage15.jpg', :width => 210, :height => 90 %></a></p>
			<p>Donec quis iaculis urna. Curabitur sed, vestibulum nec sem. dui lorem, interdum congue molestie sit amet, et auctor vitae libero consequat.</p>
		</div>
	</div>
	<div id="box5">
		<h2>Expansive Linecard</h2>
		<div class="content">
			<ul class="style2">
				<li class="first"><a href="#">Donec quis iaculis curabitur</a></li>
				<li><a href="#">Vestibulum nec sem dui lorem</a></li>
				<li><a href="#">Interdum congue sed amet,</a></li>
				<li><a href="#">Auctor vitae libero consequat</a></li>
				<li><a href="#">Consequat etiam lorem ipsum</a></li>
			</ul>
		</div>
	</div>
</div>
